html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

/* react root element - ensure full width/height */
#root {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #333;
}
